#nav-background {
    background-color: #1E1E1E;
}

.logo-color {
    color:white;
    font-style: italic;
    font-weight: bold;
    margin-top: 15px;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.nav-item {
    color: #F0AA11;
    font-weight: bold;
    margin-left: 20px;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.nav-item:hover {
    color: white;
    text-decoration: none;
}

.active {
    color: white;
}