.footer{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
font-size: 24px;
background: black;
color:white;
font-family: Arial, Helvetica, sans-serif;
padding:20px;
}
.logo{

}
.logo-wrapper{

}
.terms-use{
padding:10px;
}
.copyright{
    padding:10px;
font-style: italic;
}