.home-wrapper {
    display: flex;
    background: #242526;
    font-size: 16px;
    color: white;
  }

  .right-section {
    flex-direction: column;
    padding: 20px;
    display: flex;
  }
 
  .description p {
    padding-bottom: 20px;
  }
  
  .left-section {
    display: flex;
    flex-direction: column;
  }

  .image-wrapper {
    /* max-width: 800px;
    margin-left: 40px; */
    padding: 55px;
  }

  .image-description {
    margin: 20px;
    /* text-align: center;
    padding: 0px 10px 20px 10px; */
  }

  .carousel-root {
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 8px 8px #0d0d0e;
    border: 1px solid #212529;
    /* width: 80%; */
    width: 100%;
    
  }
  
.slider-wrapper {
  padding: 50px 0 !important;
}
  .carousel .slider-wrapper {
    padding: 50px;
    overflow: hidden;
    margin: auto;
    width: 60%;
    height: 67vh;
    transition: height 0.15s ease-in;
  }

  .carousel .thumb img {
    vertical-align: top;
    width: 100%;
    height: 100px;
  }
  
  .carousel.carousel-slider .control-arrow {
    top: 0;
    background: black;
  }
  
  
.control-next.control-arrow:before {
  border-left: 8px solid #000;
}


.carousel .control-arrow,
.carousel.carousel-slider .control-arrow {
  transition: all 0.25s ease-in;
  opacity: 0.8;
  background: black;
  top: 45% !important;
  bottom: unset !important;
  background-color: rgb(43, 43, 42) !important;

}

  @media (max-width: 648px) {
    .home-wrapper {
      display: flex;
      flex-direction: column;
      font-size: 16px;
    }
    .slider-wrapper.axis-horizontal {
      height: 410px;
    }
  }

  
@media only screen   
and (min-width: 1450px)  
 
{ 
  .one-img-wrapper img{
    height: 800px;
  }

  .description p{
    font-size: 30px;
  }
}

