*{
    box-sizing: border;
}

/* .column {
    float: left;
    padding: 15px;
    color: white;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  } */

  /* .content {
    width: 35%;
    background-color: #1E1E1E;
    margin-top: 25px;
  } */
  
  /* .menu {
      width: 65%;
      background-color: #1E1E1E;
      margin-top: 25px;
      height: 462px;
  } */

  .container-fluid {
      text-align: center;
  }

  .about-image{
      height: 300px;
      width: 350px;
      margin-top: 20px;
  }

.about-content {
    color: white;
    font-weight: bold;
    margin-top: 20px;
    background-color: #1E1E1E;
    padding: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

  @media (min-width: 1400px) {
    .menu {
        height: 1000px;
        font-size: 25px;
        margin-top: 25px;
    } 

    img {
        width: 500px;
    }

    .content {
        background-color: #1E1E1E;
        margin-top: 25px;
    }
}

  @media (max-width: 768px) {
    img{
		width: 650px;
	}
    .menu {
        width: 100%;
    }
}

@media (max-width: 600px) {
    img{
		width: 340px;
	}
    .menu {
        width: 100%;
        height: 700px;
    }
}

@media (max-width: 400px) {
    img{
		width: 300px;
	}
    .menu {
        width: 100%;
        height: 800px;
    }
}

@media (max-width: 320px) {
    img{
		width: 250px;
	}
    .menu {
        width: 100%;
        height: 1100px;
    }
}